@{
  ViewBag.Title = "Map Search";
}
<div>
    <h3>Map Search</h3>
    <div><b>Field Specific Search Capability - single column.</b></div>
    There is two way to get list of people in a zip code. 
    Left side of the result is from relational database and the right side of the resultset is from indexed ElasticSearch with their elapsed miliseconds in pulling those records.
    <ul>
        <li>Map click: The action will pull zip code from Google Map service and list down people.</li>
        <li>Search by Textbox: You can manually provide zip code in textbox and click on search button to get the list.</li>
    </ul>

</div>

<div class="col-md-8" id="map"></div>

<legend><label id="formatted_address"></label></legend>

<div class="col-md-6" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="title_sql"></h3>
        </div>
        <div class="panel-body">
            <div class="text-danger">Elapsed Time: <label id="elapsed_Time_sql"></label></div>
            <div class="text-danger">Records Found: <label id="count_sql"></label></div>
            <div class="text-danger" ><label id="err_sql"></label></div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Search Result</th>
                    </tr>
                </thead>
                <tbody id="peoplelist_sql"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title" id="title_es"></h3>
        </div>
        <div class="panel-body">
            <div class="text-danger">Elapsed Time: <label id="elapsed_Time_es"></label></div>
            <div class="text-danger">Records Found: <label id="count_es"></label></div>
            <div class="text-danger" ><label id="err_es"></label></div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Search Result</th>
                    </tr>
                </thead>
                <tbody id="peoplelist_es"></tbody>
            </table>
        </div>
    </div>

    
</div>

<script>

    function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: new google.maps.LatLng(40.0509488, -105.2628596),
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        google.maps.event.addListener(map, 'click', function (args) {
            var lat = args.latLng.lat();
            var lng = args.latLng.lng();
            Methods.GetAddress(lat, lng);

        });
    }
</script>

<script type="text/x-jquery-tmpl" id="peoplelist-template">
    <tr>
        <td>
            <div>${firstname} ${lastname}</div>
            <div>${gender}, ${dob}</div>
            <div>${street} ${city}, ${state} ${zip}</div>
            <div>${salary}, ${cell}</div>
        </td>
    </tr>
</script>


