<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="ESConfigSection" type="EasySearch.DataImport.ESConfigSection, EasySearch.DataImport"/>
   </configSections>    
  <ESConfigSection clusterName="my-poc" indexName="persondata">
    <Nodes>
      <NodeElement uri="http://10.3.0.202:9200"/>
      <NodeElement uri="http://10.3.0.191:9200"/>
    </Nodes>
  </ESConfigSection>
  <appSettings>
    <add key="SampleJsonPath" value="C:\SqlDataImport\Sample.json"/>
    <add key="conString" value="Data Source=10.3.0.191;Initial Catalog=POCDB;User ID=sa;Password=logrhythm!1"/>
    <add key="DataImportLoopCounter" value="100"/>
    <add key="RandomUserApiParams" value="?nat=US&amp;inc=name,gender,location,email,dob,cell,id&amp;results={0}"/>
  </appSettings>
</configuration>
