<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="ESConfigSection" type="POCDataImport.ESConfigSection, POCDataImport"/>
   </configSections>    
  <ESConfigSection clusterName="my-poc" indexName="persondata">
    <Nodes>
      <NodeElement uri="http://10.3.0.202:9200"/>
      <NodeElement uri="http://10.3.0.191:9200"/>
    </Nodes>
  </ESConfigSection>
  <appSettings>
    <add key="SampleJsonPath" value="C:\SqlDataImport\Sample.json"/>
    <add key="conString" value="Data Source=10.3.0.191;Initial Catalog=POCDB;User ID=sa;Password=logrhythm!1"/>
    <add key="DataImportLoopCounter" value="10"/>
  </appSettings>
</configuration>
